extends auth-frame.pug

block variables
  - var title = $t.common.login_title
  - var subtitle = $t.common.login_subtitle

block auth_content
  div
    include ../title.pug
    .head
      +title-main("left", $t.common.login, "", "secondary", false)
      a.btn.btn-flat.waves-effect.button-link(href=link.education.register)
        |
        |
        i.material-icons.icon.left.mr-1 arrow_forward
        | #{$t.common.login_create}
        |
      |
      |
    include social-auth.pug
    .separator
      p #{$t.common.login_or}
    form#login_form(method="POST")
      .row.spacing3
        .col-sm-12
          .input-field.filled.dark
            |
            |
            input.validate#email(type="email" name="email" required)
            |
            |
            label(for='email') #{$t.common.login_email}
            |
            |
        .col-sm-12
          .input-field.filled.dark
            |
            |
            input.validate#password(type="password" name="password" required)
            |
            |
            label(for='password') #{$t.common.login_password}
            |
            |
      .form-helper.mt-4
        .form-control-label
          |
          |
          label
            |
            |
            input.filled-in.secondary(type='checkbox' required)
            |
            |
            span #{$t.common.login_remember}
            |
            |
          |
          |
        |
        |
        a.btn-flat.button-link(href='#') #{$t.common.login_forgot}
        |
        |
      .btn-area.mt-10
        |
        |
        button.btn.secondary.btn-large.block.waves-effect(type="submit") #{$t.common.continue}
        |
        |
